@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  /** Primary **/
  --clr-neutral-Pale-Blue: #dddbff;
  --clr-neutral-Grayish-Blue: #848794;
  --clr-neutral-Dark-Blue: #1d2c67;
  --clr-neutral-Very-Dark-Blue: #0c122c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-neutral-Very-Dark-Blue);
  background-image: url(../images/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-y: bottom -50px;
}

.content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-btns {
  background-color: var(--clr-neutral-Dark-Blue);
  padding: 2rem 7rem 2rem 2rem;
  margin-right: 2rem;
  border-radius: 10px;
  border-top-right-radius: 90px;
}

.logo {
  margin-bottom: 2rem;
}

.btns {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-neutral-Very-Dark-Blue);
  margin-right: 1rem;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

.btn:hover {
  cursor: pointer;
}

.gb-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-neutral-Dark-Blue);
  padding: 2rem 2rem;
  border-radius: 10px;
  color: var(--clr-neutral-Pale-Blue);
  width: 40%;
}

.gb-left {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: -30%;
  right: 7%;
  padding: 1em;
  border-radius: 10px;
  background-color: white;
  color: var(--clr-neutral-Grayish-Blue);
}

.gb-left__gbleft-text {
  letter-spacing: 1px;
  font-size: 0.8em;
}

.gb-left__number {
  color: var(--clr-neutral-Very-Dark-Blue);
  font-size: 2.5em;
  margin-right: 0.2em;
}

.text-wrapper {
  text-align: left;
  width: 100%;
}

.gb-used {
  font-weight: 700;
}

.gb-meter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--clr-neutral-Very-Dark-Blue);
  height: 22px;
  width: 100%;
  border-radius: 10px;
  margin: 1rem 0 0.5rem 0;
  padding: 3px;
}

.gb-meter__used {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70%;
  height: 100%;
  padding: 3px;
  border-radius: 10px;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

.gb-meter__used-thumb {
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 10px;
}

.gb-label {
  width: 100%;
  font-weight: 700;
  color: var(--clr-neutral-Pale-Blue);
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  body {
    background-image: url(../images/bg-mobile.png);
    background-position: top;
    background-size: cover;
  }

  .content {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .logo-btns {
    width: 100%;
    margin: 0 0 1rem 0;
  }

  .gb-info {
    width: 100%;
  }

  .text-wrapper {
    text-align: center;
  }

  .gb-left {
    top: unset;
    bottom: -30%;
    right: unset;
  }

  .gb-label {
    margin-bottom: 1rem;
  }
}
